html, body{
  font-size: 16px;
  font-family:  sans-serif;
  //background-color: #ECEFF1;
  background-color: white;
}

.homepage{

  margin-top: 58px;

  .relation{
    position: relative;

    .relation__ratio{
      padding-top: 56.25%;
      height: 0;
    }
    .relation__content{

      background-color: red;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  .title{
    color: black;
    font-size: 1.5rem;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    text-align: center;
  }

  .description-blocks{
    text-align: center;
    padding: 0;
    margin-left: auto;
    margin-right: auto;

    .column{
      margin: 10px 0;


      .title-description{
        text-align: center;
        margin: 0 0;
        font-size: 1.5rem;
        font-family: 'Bellefair', sans-serif;
        span{
          margin: 0 auto;
        }
      }

      .description{
        margin: 0;
      }
      svg {
        max-height: 100px;

        :hover{
          fill: red;
        }
      }

    }
  }

}