$line-height: 60px;
$nav-padding: 10px;
$nav-margin: 10px;

$header-backgrond-color: #2E353D;
$header-text-color: #99abb6;

$active-background: rgba(0,0,0,0.2);
$active-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2);

$hover-background: rgba(0,0,0,0.1);
$hover-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2);

header
{

  background-color: $header-backgrond-color;
  width: 100%;
  top:0;
  z-index: 1000;
  position: fixed;
  max-height: 58px;
  font-family: serif;


  .navigation-wrapper{
    width: 100%;
    padding: 0;
  }

  nav
  {
    box-sizing: border-box;
    max-width: 62.5rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: $nav-padding;
    padding-bottom: $nav-padding;

    .navigation-wrapper{
      position: relative;
    }

    .menu-icon{
      padding: 0;
      margin-left: $nav-margin;
    }

    .menu-toggle {
      display: none;
    }

    .menu{
      font-size: 0;
      display: block;

      .nav-button{
        margin: 0;
        margin-left: $nav-margin;
        float: right;
        color: white;
      }

        li{
          font-size: 16px;
          float: left;
          display: block;
          vertical-align: middle;



          button{
            margin: 0;
            border: 0;
            text-align: center;
            background-color: $header-backgrond-color;
            color: #99abb6;

            &:hover{
              border-radius: 4px;
              color: #FFFFFF;
              background: rgba(0,0,0,0.1);
              box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2);
            }
          }

          .header-logo-link{
            padding: 0;
            svg{
              max-height: 40px;
              max-width: 58px;
            }
          }

          a{
            height: 50%;
            text-align: center;
          }

          .menu-link {
            margin-right: $nav-padding;
            color: #99abb6;
            text-align: center;
            height: 100%;

            &:hover{
              border-radius: 4px;
              color: #FFFFFF;
              background: rgba(0,0,0,0.1);
              box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2);

            }
          }
          .active{
            border-radius: 4px;
            color: #FFFFFF;
            background: rgba(0,0,0,0.2);
            box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2);
          }

        }
    }

    @media screen and (max-width: 560px)
    {
      .navigation-wrapper{
        margin-top: 0;
      }
      .header-logo-link{
        display: none;
      }
      .menu
      {
        //display: block;
        margin-top: 10px;
        width: 100%;
        max-width: 560px;
        display: none;
        position: absolute;
        background-color: $header-backgrond-color;

        li{
          float: none;
          width: 100%;
          text-align: -webkit-center;

          button{
            width: 100%;
          }
        }

      }

      .menu-toggle {
        display: block;
      }
    }

    .envelope {
      display: none;
      width: 22rem;
      z-index:1002;
      position: relative;
      margin: 10% auto;
      margin-bottom: 100%;
    }
  }
}


#signUp-btn {
 background-color: #ff6837;
  color: #FFFFFF;
}
#login-btn {
}