footer{
  background-color: #2E353D;
  max-height: 80px;
  height: 80px;

  .footer-wrapper{
    background-color: #2E353D;
    height: 100%;

    :after{
      content: "";
      display: table;
      clear: both;
    }
    &:hover{
      fill: #ff6837;
    }


    .footer_logo{
      padding: 5px 0;
      margin: 0;
      height: 100%;

      :hover{
        fill: #ff6837;
      }

      svg{
        margin: auto;
        max-width: 70px;
        height: 100%;

      }

    }
  }
}
